---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---


Journal articles

25.	Miszkiewicz, J. J., Godinho, R. M., Sohler-Snoddy, A. M., Pasda, K., Détroit, F., Mahoney, P., Rathgeber, T., Posth, C., Uthmeier, T., Barbieri, A. (2026). Early development of Neanderthals revealed through virtual microanatomy. Royal Society Open Science

24.	Fotiadou, C. M., Pedersen, J. B., Rougier, H., Roksandic, M., Spyrou, M. A., Nägele, K., Reiter, E., Bocherens, H., Kandel, A. W., Haidle, M. N., Streicher, T. P., Conard, N. J., Schilt, F., Godinho, R. M., Uthmeier, T., Doyon, L., Semal, P., Krause, J., Barbieri, A., Mihailović, D., Crevecoeur, I., Posth, C. (2026). Archaeogenetic insights into the demographic history of Late Neanderthals. Proceedings of the National Academy of Sciences, 123(13), e2520565123. doi:10.1073/pnas.2520565123

23.	Simão, P., Garcia, S. J., & Godinho, R. M. (2026). A geometric morphometrics approach to sex estimation of infants from 0 to 6 years using the auricular surface. Scientific Reports. doi:10.1038/s41598-026-35321-y

22.	Godinho, R. M., Crevecouer, I., Garcia, S., Whiting, R., & Aramendi, J. (2025). Coupling geometric morphometrics and machine learning for mandibular sex estimation in Late Pleistocene and Late Modern populations. Scientific Reports, 16(1), 1775. doi:10.1038/s41598-025-31365-8.

21.	Coutinho-Nogueira, D., Godinho, R.M., Ramos Gaspar, R., André, L., Bicho, N., Cascalheira, J., Gonçalves, C., Umbelino, C., 2025. The Non-Adult Burials of Cabeço da Amoreira, Muge (Portugal): Recent Discoveries and New Insights into Mesolithic Funerary Practices, Childhood in the Past, 1-16.

20.	Nogueira, D. Coutinho, Gaspar, Rosa R., Godinho, R. M., Umbelino, C. 2025. Underneath the surface: examining "Hidden Pathologies" with paleoimaging at Moita do Sebastião, Late Mesolithic Muge, Portugal. International Journal of Osteoarchaeology 35. DOI: 10.1002/oa.3367.

19.	Fernandéz Navarro, V., Godinho, R.M., García Martínez, D., Garate Maidagan, D. 2024. Exploring the utility of Geometric Morphometrics to analyse prehistoric hand stencils. Scientific Reports 14, 6336. DOI: 10.1038/s41598-024-56889-3.

18.	Mylopotamitaki, D., Harking, F.M., Taurozzi, A.J., Fagernäs, Z., Godinho, R.M., Weiss, M., Schüler, T., McPherron, S., Cascalheira, J., Bicho, N., Olsen, J.V., Hublin, J.-J., Welker, F. 2023. Comparing extraction method efficiency for high-throughput palaeoproteomic bone species identification. Scientific Reports 13, 18245. DOI: 10.1038/s41598-023-44885-y.

17.	Godinho, R. M., Umbelino, C., Valera, A. C., Carvalho, A. F., Bicho, N., Cascalheira, J., Gonçalves, C., Smith, P. 2023. Mandibular morphology and the Mesolithic–Neolithic transition in Westernmost Iberia. Scientific Reports 13, 16648. DOI: 10.1038/s41598-023-42846-z.

16.	Godinho, R. M., Umbelino, C., Garcia, S., & Gonçalves, C. 2023. Changes in dental wear magnitude in the last ~8000 years. Archives of Oral Biology 147, 105626. Doi: 10.1016/j.archoralbio.2023.105626.

15.	Godinho, R. M., Umbelino, C., & Gonçalves, C. 2022. Mesolithic and Chalcolithic mandibular morphology: using geometric morphometrics to reconstruct incomplete specimens and analyse morphology. Open Archaeology 8, 536-549. doi: 10.1515/opar-2022-0247.

14.	Ruether, P. L., Husic, I. M., Bangsgaard, P., Murphy Gregersen, K., Pantmann, P., Carvalho, M., Godinho, R. M., Friedl, L., Cascalheira, J., Joerkov, M. L. S., Benedetti, M., Haws, J., Bicho, N., Welker, F., Cappellini, E., & Olsen, J. V. 2022. SPIN - Species by Proteome INvestigation. Nature Communications 13, 2458. doi: 10.1038/s41467-022-30097-x. (Impact: IF= 14.919; Q=1, citations=na; Field Impact Factor=na)

13.	Godinho, R.M., Gonçalves, C. 2021. Testing the reliability of CT scan-based dental wear magnitude scoring. American Journal of Physical Anthropology 176, 521-527. doi: 10.1002/AJPA.24374. (Impact: IF=2.868; Q=1, citations=na; Field Impact Factor=na).

12.	Godinho, R.M., O’Higgins, P, Gonçalves, C. 2020. Assessing the reliability of virtual reconstruction of mandibles. American Journal of Physical Anthropology 172, 723-734. doi:10.1002/ajpa.24095. (Impact: IF=2.662; Q=1, citations=2; Field Impact Factor=1,45).

11.	Godinho, R.M., Santos, A.L., Valera, A.C. 2020. A lunate-triquetral coalition from a commingled context from the Chalcolitc the Perdigões ditched enclosures of Portugal. Anthropologischer Anzeiger 77, 83-88. doi: 10.1127/anthranz/2019/0935. (Impact: IF=0.577; Q=1 citations=0; Field Impact Factor=na).

10.	Godinho, R.M., Oliveira-Santos, I., Pereira, M.F.C., Maurício, A., Valera, A.C., Gonçalves, D. 2019. Is enamel the only reliable hard tissue for sex metric estimation of burned skeletal remains in biological anthropology? Journal of Archaeological Sciences: Reports 26, 101876. doi: 10.1016/j.jasrep.2019.101876. (Impact: IF=NA; Q=1, citations=4; Field Impact Factor=1,6).

09.	Godinho, R.M., Gonçalves, D., Valera, A.C. 2019. The pre-burning condition of Chalcolithic cremated human remains from the Perdigões enclosures (Portugal). International Journal of Osteoarchaeology 5, 706-717. doi.org/10.1002/oa.2768. (Impact: IF=1.18; Q=1, citations=4; Field Impact Factor=1,71).

08.	O'Higgins, P.; Fitton, L. C.; Godinho, R. M. 2019. Geometric morphometrics and finite elements analysis: Assessing the functional implications of differences in craniofacial form in the hominin fossil record. Journal of Archaeological Science 101, 159-168. doi.org/10.1016/j.jas.2017.09.011. (Impact: IF=3.030; Q=1, citations=7; Field Impact Factor=2,41).

07.	Godinho, R. M., Spikins, P., O'Higgins, P. 2018. Supraorbital morphology and social dynamics in human evolution. Nature Ecology and Evolution 2, 956-961. doi: 10.1038/s41559-018-0528-0. (Impact: IF=10.969; Q=1, citations=18; Field Impact Factor=2,28).

06.	Godinho, R. M., Toro-Ibacache, V., Fitton, L., Stringer, C. B., Lacruz, R., Bromage, T., O'Higgins, P. 2018. The biting performance of H. sapiens and H. heidelbergensis. Journal of Human Evolution 118: 56-71. doi: doi.org/10.1016/j.jhevol.2018.02.010. (Impact: IF=3.155; Q=1, citations=6; Field Impact Factor=1,29).

05.	Godinho, R.M., O'Higgins, P. 2018. The biomechanical significance of the frontal sinus in Kabwe 1 (Homo heidelbergensis). Journal of Human Evolution 114: 141-153. doi: doi.org/10.1016/j.jhevol.2017.10.007. (Impact: IF:3.155; Q=1, citations=5; Field Impact Factor=1,07).

04.	Sianto, L., de Miranda Chaves, S.A., Teixeira-Santos, I., Pereira, P.A., Godinho, R.M., Gonçalves, D., et al. 2018. Evidence of contact between New and Old World: paleoparasitological and food remains study in the Tagus river population of Sarilhos Grandes (Montijo, Portugal). Archaeological and Anthropological Sciences, 1-7. doi: 10.1007/s12520-016-0337-9. (Impact: IF=1.978; Q=1, citations=3; Field Impact Factor=0,55).

03.	Godinho R. M., Toro-Ibacache V., Fitton L. C.; O'Higgins P. 2017. Finite element analysis of the cranium: validity, sensitivity and future directions. Comptes Rendus Palevol 16: 600-612. doi: 10.1016/j.crpv.2016.11.002. (Impact: IF=1.433; Q=1, citations=10; Field Impact Factor=1,1).

02.	Lacruz R. S., Bromage T. G., O'Higgins P., Arsuaga J.-L., Stringer C., Godinho R. M., Warshaw J., Martinez I., Gracia-Tellez A., de Castro J. M. B., Carbonell E. 2015. Ontogeny of the maxilla in Neanderthals and their ancestors. Nature Communications 6:1-6. doi: 10.1038/ncomms9996.

01.	Filipe, V.; Godinho, R. M; Granja, R.; Ribeiro, A.; Valera, A.. 2013. "Bronze age funerary spaces in Outeiro Alto 2 (Brinches, Serpa, Portugal): the hypogea cemetery", Zephyrus 71: 107 - 129.






{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



